body {
    background-color: black;
    background-image: url("The Quiz Background.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    font-size: 20px;
    font-weight: normal;
    border: 5px;
    margin-top: 20px;
    text-align: center;
}

span {
    font-family: 'Blackladder+ITC';
    font-weight: bold;
    font-style: italic;
    font-size: 25px;
    text-align: center;
}

span2 {
    font-weight: bold;
    font-style: italic;
}


