body {
    background-color: black;
    background-image: url("The Quiz Background.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    font-size: 40px;
    font-weight: normal;
    border: 5px;
    margin-top: 150px;
    text-align: center;
    color: white;
}

p {
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: 50px;
}

span {
    font-family: 'Heveltica';
    font-weight: bold;
    font-style: italic;
    font-size: 50px;
    text-align: center;
}

span2 {
    font-weight: bold;
    font-style: italic;
}

.button {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 30px;
    background-color: rgb(132, 239, 139);
    border: 8px rgb(102, 186, 108) solid;
    border-radius: 2px;
}

.button:hover {
    display: block;
    font-size: 26px;
    width: 306px;
    height: 36px;
    background-color: rgb(132, 239, 139);
    border: 5px rgb(102, 186, 108) solid;
    text-align: center;
}

a:link {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a:hover {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a:active {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a:visited {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

