body {
    background-color: black;
    background-image: url("The Quiz Background.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    font-size: 40px;
    font-weight: normal;
    border: 5px;
    margin-top: 200px;
    text-align: center;
    color: white;
}

p {
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: 50px;
}

span {
    font-family: 'Blackladder+ITC';
    font-weight: bold;
    font-style: italic;
    font-size: 50px;
    text-align: center;
}

span2 {
    font-weight: bold;
    font-style: italic;
}


